.content {
    &__wrapper {
        text-align: center;
        margin-top: 150px;
    }

    &__title {
        color: white;
        font-size: 52px;
        font-weight: 400;
        line-height: 62px;
    }

    &__desc {
        margin-top: 10px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    &__card-title {
        padding: 40px 94px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    &__card-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #5c5c5c;
    }

    &__img {
        padding: 70px 36px;
    }

    &__img-2 {
        padding: 20px 0;
    }

    &__cards {
        justify-content: center;
        display: flex;
        gap: 33px;
        margin-top: 44px;
    }

    &__card {
        background: white;
        width: 476px;
        height: 624px;
        border-radius: 10px;
    }
}

@include mobile() {
    .content {
        &__wrapper {
            justify-content: center;
        }

        &__cards {
            flex-direction: column;
        }
    }
}
