.gallery {
    &__wrapper {
        text-align: center;
        margin-top: 100px;
    }

    &__imgs {
        border-radius: 6px;
    }

    &__img-1 {
        img {
            border-radius: 6px;
        }
        margin-right: 750px;
        margin-top: 20px;
    }

    &__img-2 {
        img {
            border-radius: 6px;
        }
        margin-right: 250px;
        margin-top: -290px;
    }

    &__img-3 {
        img {
            border-radius: 6px;
        }
        margin-left: 250px;
        margin-top: -290px;
    }

    &__img-4 {
        img {
            border-radius: 6px;
        }
        margin-top: -290px;
        margin-left: 750px;
    }

    &__img-6 {
        img {
            border-radius: 6px;
        }
        margin-right: 630px;
        margin-top: 30px;
    }

    &__img-7 {
        img {
            border-radius: 6px;
        }
        margin-left: 30px;
        margin-top: -290px;
    }
    &__img-8 {
        img {
            border-radius: 6px;
        }
        margin-left: 695px;
        margin-top: -290px;
    }

    &__img-9 {
        display: none;
    }
}

@include mobile() {
    .gallery {
        &__wrapper {
            text-align: center;
        }

        &__img-2 {
            display: none;
        }

        &__img-3 {
            display: block;
            margin-top: 10px;
            margin-left: -70px;
        }
        &__img-4 {
            display: none;
        }
        &__img-6 {
            display: none;
        }

        &__img-8 {
            display: none;
        }

        &__img-1 {
            margin-left: 95px;
        }

        &__img-9 {
            img {
                border-radius: 6px;
            }
            display: block;
            width: 323px;
            height: 285px;
            margin-left: 40px;
        }

        &__img-7 {
            margin-top: 30px;
            margin-right: 100px;
        }

        
        &__imgs {
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
        
    }
}
